<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			<assemblyIdentity name="swisstopo.reframelib"  culture="neutral" publicKeyToken="9ffb35f31e07cf2f"/>
			<codeBase version="3.2.0.0" href="FILE://C://MyPath//swisstopo.reframelib.dll"/>
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="swisstopo.data"  culture="neutral" publicKeyToken="ea90158b1bff6de6"/>
			<codeBase version="1.1.0.0" href="FILE://C://MyPath//swisstopo.data.dll"/>
		  </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
